$primary-color: #B60FE0;
$secondary-color: #acf3a7;
$accent-color: #F53C76;
$secondary-accent-color: #FF594F;
$dark-color: #380436;
$light-grey-color: #f3f3f3;

$colors: $primary-color, $secondary-color, $accent-color, $secondary-accent-color